.about {
  margin: 0 auto;
  position: relative;
}
.about__description {
  margin-bottom: 100px;
  padding: 0 10px 0 175px;
  background-image: url("/img/image_2005.png");
  background-position: -35px 30px;
  background-repeat: no-repeat;
}
.about__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.about__detail {
  margin-top: 30px;
  display: block;
  padding: 18px 16px;
  width: 180px;
  background-color: #FFFFFF;
  border-color :#00B2FF;
  color: #00B2FF;
}

@media (max-width: $tablet-width){
  .about__text-size {

    // overflow: hidden; /* Обрезаем содержимое */
    // padding: 5px; /* Поля */
    // text-overflow: ellipsis; /* Многоточие */
   }
  }
  @media (max-width: $mobile-width){ 
    .about__text{
      margin-bottom: 40px;
    }
    .about__description {
      background-size: 0px;
      padding: 0;
    }
}