.header {
  margin: 0;
  min-height: 50px;
  margin-top: 35px;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  margin:0;
  min-width: 200px;
}


.header__logo-text {
  padding-top: 5px;
  align-items:flex-end;
}

.header__logo-name {
  margin:0;
  font-family: "Roboto Condensed", "Times New Roman", sans-serif;
  font-size: 25px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
}

.header__logo-slogan {
  margin:0;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #788891;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 670px;
  line-height: 24px;
  font-weight: normal;
}

.header__contacts a {
  color: #FFFFFF;
}

.header__email {
  padding-left: 39px;
  background-image: url("/img/envelope.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.header__phone {
  padding-left: 39px;
  background-image: url("/img/phone-call.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.header__callback {
  height: 42px;
  width: 180px;
  padding-top: 10px;
}

@media (max-width: $tablet-width) {
  .header__contacts {
    justify-content: flex-end;
    min-width: 55px;
    font-size: 0px;
    margin-bottom: 30px;
  }

  .header__email {
    display: block;
    background-size: 24px;
    margin-right: 5px;
    background-position: right center;
  }

  .header__phone {
    display: block;
    background-size: 25px;
    margin-right: 5px;
    background-position: right center;
  }
  .header__callback {
    display: none;
  }
}
  
@media (max-width: $mobile-width) {
  .header__contacts {
    margin-bottom: 40px;
    width: 100px;
  }
  .header__logo {
    min-width: 40px;
  }

  .header__logo-name,
  .header__logo-slogan {
    font-size: 0px;
  }
  .header__email {
    display: block;
    background-size: 25px;
    margin-right: 5px;
    
  }
 
  .header__phone {
    display: block;
    background-size: 22px;
  }

  .header__logo img {
    width: 38px;
    height: 38px;
  }
}